.menuİtem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d3ad7f;
    border-radius: 5px;
    max-width: 350px;
   padding: 15px;
   margin: 10px;
}
.menuİtem .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


.menuİtem .info .desc-price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}
.price{
    font-weight: bold;
    font-size: 20px;
}

.menuİtem img{
    margin-right: 15px;
    width: 300px;
    height: 200px;
    object-position: center;
    object-fit: cover;
}
.addbasket{
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #d3ad7f;
    color: #010103;
}