.menuİtem{
    
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menuİtem .info{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.info img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.menuİtem .info .desc-price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}
.price{
    font-weight: bold;
    font-size: 20px;
}

.info img{
    margin-right: 15px;
}
button{
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #010103;
    color: #d3ad7f;
}