.sepet{
    padding: 10px;
    display: flex;
    color: beige;
}

.sepet h1{
    margin-bottom: 35px;
}

.sepet .sepet-cart{
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 850px;
   
}
.sepet-info p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.sepet .sepet-cart img{
    margin-right: 15px;
    width: 300px;
    height: 200px;
    object-position: center;
    object-fit: cover;
}

.sepet-info {
display: flex;
justify-content: space-between;
flex-direction: column;
flex: 1;
margin-right: 20px;
}
.price{
    font-weight: bold;
    font-size: 20px;
}
p{
    font-size: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.buttons button{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #010103;
    color: beige;
    border: 1px solid beige;

}

.buttons .count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-right:8px;
    padding: 3px;
}
i{
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}
.total-cart{
    border: 1px solid #010103;
    padding: 15px;
    border-radius: 8px;
    margin-right: 20px;
    width:500px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 180px;
    
}
.total-cart span{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;

}
.total-cart h2{
    margin-top: 5px;
}
button{
    
    border-radius: 5px;
    background-color: #d3ad7f;
    color:#010103 ;
    padding: 10px;
    cursor: pointer;
}
.total-cart .total{
    display: flex;
    flex-direction: column;
}