@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}

/* html{
    font-size:80% ;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
} */

body{
    background:var(--bg);
    text-decoration: none;
    list-style: none;
}
.header{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
   color: var(--main-color);
   border-bottom: .1rem solid var(--main-color);
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}


.shopping-cart{
    position: relative;
}

.basket-count{
    position: absolute;
    top: 40px;
    right: 160px;
    color: #fff;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    border-radius: 50%;
    background-color: red;
}




@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem ;
    }
}

@media (max-width:768px) {
    
}

@media (max-width:441px) {
    
}